<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('page_home') }}">Mini website</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('offer_list') }}">Oferty</a></li>
                {% if app.user %}
                    <li><a href="{{ path('offer_create') }}">+ Dodaj ofertę</a></li>
                    <li><a href="{{ path('_logout') }}">Wyloguj</a></li>
                {% else %}
                    <li><a href="{{ path('user_login') }}">Zaloguj</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>