{% extends 'base.html.twig' %}

{% block pageContent %}
    <table class="table table-hover table-responsive table-striped offer-list">
        <tr>
            {# sorting of properties based on query components #}
            <th>{{ knp_pagination_sortable(pagination, 'Id', 'o.id') }}</th>
            <th{% if pagination.isSorted('o.title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'o.title') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Release', ['o.dateCreated']) }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Autor', ['o.createAuthor']) }}</th>
            <th>Zarządzaj</th>
        </tr>

        {# table body #}
        {% for offer in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ offer.id }}</td>
                <td>
                    <a href="{{ path('offer_item', {'id': offer.id}) }}">
                        {{ offer.title }}
                    </a>
                </td>
                <td>{{ offer.dateCreated | date('Y-m-d H:i:s') }}</td>
                <td>{{ offer.createAuthor.username }}</td>
                <td>
                    {% if offer.createAuthor == app.user %}
                        <a href="{{ path('offer_edit', {'id': offer.id}) }}" class="btn btn-info btn-edit">Edytuj</a>
                        <button class="btn btn-danger btn-remove" data-id="{{ offer.id }}">Usuń</button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}